:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-theme="dark"] {
  --bg: rgba(15, 15, 15, 0.9);
  --bg2: #000000;
  --text: #f5f5f5;
  --accent: #6e91d1;
  --accent-faint: rgba(209,180,110,0.18);
  --border: #496baa;
  --glass: rgba(255, 255, 255, 0.04);
}

body[data-theme="light"] {
  --bg: rgba(255, 255, 255, 0.9);
  --bg2: #ffffff;
  --text: #1a1a1a;
  --accent: #6e91d1;
  --accent-faint: rgba(138,111,62,0.15);
  --border: #496baa;
  --glass: rgba(0, 0, 0, 0.03);
}

* { box-sizing: border-box; }

body {
  background: var(--bg);
  color: var(--text);
}

