:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body[data-theme="dark"] {
  --bg: #0b0b0d;
  --bg-soft: #111118;
  --text: #f5f5f5;

  --accent: #0ff0fc;
  --accent-2: #a855f7;

  --card-glow: rgba(0, 255, 255, 0.12);
  --image-glow: rgba(168, 85, 247, 0.25);

  --border: rgba(255, 255, 255, 0.07);
  --glass: rgba(255, 255, 255, 0.05);
}

body[data-theme="light"] {
  --bg: #ffffff;
  --bg-soft: #f3f6fd;
  --text: #1b1b1b;

  --accent: #4169e1;
  --accent-2: #7c3aed;

  --card-glow: rgba(65, 105, 225, 0.12);
  --image-glow: rgba(124, 58, 237, 0.25);

  --border: rgba(0, 0, 0, 0.1);
  --glass: rgba(0, 0, 0, 0.03);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}